@charset "utf-8";

.card {
  border:none;
}
.card .card-body {
  padding-bottom: 0;
}
.card .card-title,
.card .card-text{
  text-align: center;
}
.card .card-subtitle{
  text-align: right;
}

.card .card-img {
  cursor: pointer;
}
.card .card-img:hover {
  opacity: .9;
}

.pickDate {
  width: 25%;
}
.pickDate .row {
  border-bottom:2px solid #000;
}
.pickDate .label{

}
.pickDate .check{
  text-align: center;
}
.pickDate .label.bg-danger,
.pickDate .check.bg-danger {
  cursor:not-allowed
}
.pickDate .check.bg-danger .custom-control-label {
display: none;
}