@charset "utf-8";

.card {
  border:none;
}
.card .card-body {
  padding-bottom: 0;
}
.card .card-title,
.card .card-text{
  text-align: center;
}
.card .card-subtitle{
  text-align: right;
}
p {margin: 0;}
.card .card-img {
  cursor: pointer;
}
.card .card-img:hover {
  opacity: .9;
}

.report2 tbody td {
  text-align: right;
}

/* pickdate */
.pickDate {
  width: 33%;
}
.pickDate .row,
.showDate .row {
  border-bottom:2px solid #000;
  margin: 0;
}

.pickDate .check{
  text-align: center;
}
.pickDate .label.bg-danger,
.pickDate .check.bg-danger {
  cursor:not-allowed
}
.pickDate .check.bg-danger .custom-control-label {
display: none;
}
.pickDate button {
  position: absolute;
  top: 420px;
  left: 280px;
}
.showDate .label {
  width: 100%;
  flex: 1;
  max-width: 100%;
  text-align: center;
}

/* card */
.card .btn {
  width: 100%;
  margin-top: 10px;
}
.nextbtn {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.nextbtn button {
  margin: 0 10px;
}

#inputReserveDate{
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
#inputReserveDate:hover{
  opacity: .9;
}

